.hide-on-submit {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  margin: 0 !important;
  padding: 0 !important;

  transition:
    opacity 0.65s ease,
    max-height 0.91s ease,
    margin 0.81s ease,
    padding 0.81s ease;
}
