*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.background {
  position: fixed;
  width: 100%;
  heigh: 100%;
  top: 0;
  left: 0;
}

body {
  margin-top: calc(var(--topbar-height) + 3rem);
}

main {
  margin-left: 3rem;
  margint-right: 3rem;
}



