.question1 {
  height: 4rem;
  padding: 5px;
  margin: 14px;
  background-color: yellow;
}

.question2 {
  height: 4rem;
  padding: 5px;
  margin: 14px;
  background-color: yellow;
}

.question3 {
  height: 4rem;
  padding: 5px;
  margin: 14px;
  background-color: yellow;
}

.question4 {
  height: 4rem;
  padding: 5px;
  margin: 14px;
  background-color: yellow;
}

.question5 {
  height: 4rem;
  padding: 5px;
  margin: 14px;
  background-color: yellow;
}

.question6 {
  height: 4rem;
  padding: 5px;
  margin: 14px;
  background-color: yellow;
}

