.question1 {
  height: 100px;
  background-color: black;
}

question2 {
  height: 100px;
  background-color: black;
}

question3 {
  height: 100px;
  background-color: black;
}

question4 {
  height: 100px;
  background-color: black;
}

question5 {
  height: 100px;
  background-color: black;
}

question6 {
  height: 100px;
  background-color: black;
}
